<% provide:title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".title9" %>
  <%= link_to t(".title2"), "http://www.railstutorial.org/book" %> <%= t ".title4" %>
  <%= link_to t(".title5"), "http://screencasts.railstutorial.org/" %>
  <%= t ".title6" %>
  <%= link_to t(".title7"), "http://rubyonrails.org/" %>
  <%= t ".title8" %>
</p>
