<% provide:title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".title2" %>
  <%= t ".title4" %>
  <%= link_to "Ruby on Rails", "http://www.railstutorial.org/book" %> <%= t ".title5" %>
</p>
 