<% provide :title, t(".title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t ".microposts" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <h1><%= t ".title4" %></h1>
  <h2>
    <%= t ".title2" %>
    <%= link_to t(".title"), "http://www.railstutorial.org/book" %> <%= t ".title3" %>
  </h2>
   <%= link_to t(".title5"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("images.jpeg", alt: "Rails logo"),
            "http://rubyonrails.org/" %>
<% end %>
