h1><%= t ".reset_pass" %></h1>

<p><%= t ".link" %></p>

<%= link_to t(".reset_pass"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t(".chuy") %></p>

<p>
  <%= t(".notice") %>
</p>
