<footer class="footer">
  <small>
    <% t(".title") %> <%= link_to t(".title"), "http://www.railstutorial.org/" %>
    <% t(".title") %>  <%= link_to t(".title"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title"), about_path %></li>
      <li><%= link_to t(".title1"), contact_path %></li>
      <li><%= link_to t(".title2"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
